
<% layout('layouts/boilerplates') %>
<!-- layout use kr rhe he hm layouts folder ke data ko lene ke liye  
 layout use kr rhe he hm layouts folder ke data ko lene ke liye  -->

<%- include('../partials/navbar') %>
<!-- include use kr rhe he hm partials folder ke data ko lene ke liye  -->






    <div class="row">
   <!-- <% for(let k of products){ %>
        <h3><%= k.name%></h3>
        <img src="<%=k.img%>" alt="">
        <h4><%=k.price%></h4>
        <h1><%=k.desc%></h1>
  <%  }%>
     -->
  <% for(let k of products){ %>
    <div class="col-lg-4 mt-3">
  <div class="card shadow mx-auto" style="width: 18rem;">
    <img src="<%=k.img%>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= k.name%></</h5>
      <h4 class="card-title"><%=k.price%></h4>
      <p class="card-text"><%=k.desc%></p>
      <a href="/product/<%=k._id%>" class="btn btn-primary">BUY</a>
     <!-- <a href="/commerse/new" class="btn btn-primary">add new</a> -->
     <a href="/product/<%=k._id%>" class="btn btn-primary">view</a>
     <%if(currentUser && currentUser.role=='seller') {%>
     <form class="d-inline-block" action="/products/<%=k._id%>/delete?_method=DELETE" method="POST"> 
      <button class="btn btn-sm btn-danger">delete a card</button>
    </form>
    <%}%>
      <!-- //ye view button he jo product ke id ke sath link hoga -->
       <!-- jb hm view pr clck krenge to uss card ki id hit hogi product:id pr jese hi hit hogi wese hi hm get method ke andar req.parse se id le lenge and moongose method find by id se uss card ka data obj ki form me nikal lenge and uss object ko render kra denge product/show pr end uss object ko bhej denge  -->


    </div>
    </div>
  </div>


  <%  }%>
    </div>
    </body>
    </html>
